.headingLink, .headingNoLink {
    padding-bottom: 10px;
    display:block;
}

.headingLink, .headingLink:visited, .headingLink:hover, .headingLink:active, .headingNoLink, .headingNoLink:visited, .headingNoLink:hover, .headingNoLink:active {
  color: inherit;
}

.mobile {
  font-style: italic;
}